@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  font-style: medium;
  font-weight: 500;
  src: url('./fonts/Roboto-Medium.ttf');
}

html{
    font-size: 62.5%;
    font-family: Roboto, Arial, sans-serif ;
}